body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

div {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  user-select: none;
}

.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background-color: white;
  color: black;
}
.game-over h1,
.game-over p {
  text-align: center;
  font-weight: bold;
}
.game-over h1 {
  font-size: 48px;
  margin-bottom: 12px;
}
.game-over p {
  font-size: 24px;
}
.game-over button {
  display: block;
  margin: 0 auto;
  background-color: rgb(73, 155, 250);
  border: none;
  outline: none;
  padding: 18px 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px;
}
